<!-- Footer -->
<footer class="page-footer bg-dark fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center  text-light py-3" >© 2022 Copyright:
    <a href="https://bllon.co/"> Gabu Bellon</a>
  </div>
  <!-- Copyright -->
  
</footer>
<!-- Footer -->